.salon-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 20px;

  }
  
  .salon-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .salon-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .salon-button:hover {
    background-color: #0056b3;
  }
  