
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:wght@200&family=Sora:wght@800&display=swap');

:root{
  --primary-color:#096EFD;
  --color-fondo :#F0F2F5;
  --textButton: "IBM Plex Sans",sans-serif;
  --textTitle:"Sora",sans-serif;
}



.card {
    position: relative;
    background-color:transparent;
    width: 400px;
    padding: 20px;
    max-width: 85vw;
    height: 90vh;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;


    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 50% 20%;
    justify-items: stretch;
    align-items: stretch;
  }
  
  .tinderCards__cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 5vh;

  }
  
  .swipe {
    position: absolute;
  }
  
  .cardContent {
    width: 100%;
    height: 100%;
  }
  
  .card h3 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: #9f9f9f;
  }


  /* temperatura */
  .card.blue{
    background-color: blue;
  }

  /* Radiacion Uv */
  .card.orange{
background-color: orange;
  }

  /* //calidad de aire */
  .card.greywhite{
   background-color: #9f9f9f;
  }

  
  /* Concetracion Co2 */
  .card.grey{
  background-color: gray;
  }
/* humedad */
  .azulgrey{
  background-color: aquamarine;
  }

  /* Iluminacion*/
  .yellow{
background-color: yellow;
  }

._infgps{
  z-index: 1;
  position: absolute;
  padding: 1rem 0 0 2rem;
  text-align: left;
  width: 40%;
  height: 15%;
  background: transparent;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  
}

span, p, h1, strong{
  font-family: var(--textTitle);
  color: #fff;
}
._infgps strong{
  font-size: 10px;
}
._infgps span{
  font-weight: 600;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
._dblok{
  display: grid;
}
._infgps h1._d{
  font-size: 36px;
  color:#FFF;
  margin: 0;
}

._infimg{
  /* width: 100%;
  height: 50%;
  background-size: cover;
  background-position: center;
  position: relative; */
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  width: 100%;
  height: 90%;
  background-size: cover;
  background-position: center;
  z-index: 0; 

}
div._imgboxs{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  --webkit-box-shadow: inset 0px -142px 79px -39px rgba(0,0,0,0.90);
--moz-box-shadow: inset 0px -142px 79px -39px rgba(0,0,0,0.90);
box-shadow: inset 0px -142px 79px -39px rgba(0,0,0,0.99);
 
}

._inf-d-s{
  padding:0 2rem 0 2rem;
  margin: 0;
  height: 45%;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;

}

._inf-d-s ._dinf-t{
  height: 30%;
  width: 100%;
  margin: 0;
  padding: 0;
  
}

._dinf-t ._dh3{
height: 20px;
position: relative;
padding: 0.5rem;
margin: 0;
}
h3._ts{
  padding: 0;
  margin: 0;
  position: absolute;
  color: #fff;
}
._mg-0{
  margin-left: 0.2rem;
 padding-top: 0.5rem;
}
._inf-d-s ._dinf-t ._dc-t{
  display: flex;
}

._inf-d-s ._dinf-g{
  display: block;
}

._dinf-g h1._tg, ._dinf-g span{
  font-size: 42px;
  color:#fff;
  position: absolute;
  left: 0;
}

span._spatg{
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  padding-top: 3rem;
}
._dinf-g{
 display: grid;
 position: relative;
  width: 100%;
  height: 100px;
}




span.status{
  font-size: 10px;
}
._dc-t p{
  padding: 0.1rem;
  color:#fff;
}

.status{
  padding: 0.3rem;
  border-radius: 6px;
}

.status-on{
  border: 0.5px #fff;
  color: #fff;
  background-color: green;
}
.status-off{
  
background-color: gray;
}

._cbtns{

    position: absolute;
    bottom: 0;
    display: flex;
    justify-content:space-around;
    width: 100%;
    padding: 5px;
    background-color: #000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
}

button{
  display:block;
  height: 60px;
  width: 60px;
  background-color: transparent;
  border-radius: 50%;
  overflow:hidden;
  line-height:1em;
}

button._dbtncircle-blue{
  border:1px solid blue;
}
button._dbtcicle-red{
  border:1px solid #fff705;
}