

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:wght@200&family=Sora:wght@800&display=swap');

:root{
  --text-color_suave:#737373;
  --text-color_oscuro:#26272b;
  --text-color_grey:#777777!important;
  --text-color_grey2:#808080!important;
  --bg_color_grey: #565656!important;
  --bg_color_fond:#F0F2F5;
  --font-famili: "IBM Plex Sans",sans-serif;
  --text-title:"Sora",sans-serif;
}
p._textF,a{
  color:#292524;
  font-size: 1rem;
  font-family: var(--font-famili);
}


div h6._textF, p._text-w{
  font-family: var(--text-title);
}

._textF{
  padding: 0;
  margin: 0;
}
._tpm0{
padding: 0;
margin: 0;
}

div._pl20{
  padding: 0.5rem;
}

.row{
  margin: 0 auto;
  justify-content: center;
  max-width: 100%;
}

article.col-sm-12{
  width: 80%;
  position: relative; 
  padding-left:0;
}

footer.site-footer{padding:0.5rem;}
.site-footer
{
  background-color:var(--bg_color_fond);
  font-size:16px;
  line-height:10px;
  color:var(--text-color_grey2)
}
.site-footer div.container{
  background-color: var(--bg_color_fond);
}
.col-md-8.col-sm-6.col-xs-12 {
  padding-top: 20px;
}
.site-footer h6
{
  font-size:1rem;
  margin-top:5px;
  text-align: left;
}
.site-footer a.get-movil
{
  color:var(--text-color_oscuro);

  &&:hover{
    color:green;
    text-decoration:none;
  }
}

.site-footer .social-icons
{
  text-align:center
}
.site-footer .social-icons a
{
  margin-left:6px;
  margin-right:0;
}

.copyright-text
{background-color:#fff;
  margin:0;
  color:var(--text-color_oscuro);
  padding: 1rem;
}

.social-icons a{
  background-color:transparent;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  width:20%;
  height:25px;
  text-align:center;
  --webkit-transition:all .2s linear;
  --o-transition:all .2s linear;
  transition:all .2s linear
}

p.t-c{
  color: green;
}

.content-icon{
  text-align: justify;
  text-justify: inter-word;
  line-height: 1rem;
  max-width: 50%;
  min-width: 45%;
  justify-content: center; 
  height: auto;
}

.container{
  padding: 0;
  margin: 0;
  width: 100vw;
}
.container > div{
  width: 100%;
} 

._dgmi{
  padding-right: 85px; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


img{
   max-width: 100%;
   height: auto; 
}



/* ///////////////COMIENZO DEL DISEÑO RESPONSIVO(RESPONSIVE)/////////////// */


@media screen and (min-width:481px) and (max-width:767px){
._rowMB{
display: grid;
height: auto;
}


._dgmi{
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
article.col-sm-12 {
  width: 100%;
  position: relative;
  padding-left: 22px;
}
.site-footer div.container{
  max-width:100%;
  background-color: #fff;
}



img{
  margin:1rem;
  width:56px;
  height: auto; 
}
.site-footer
{
  background-color:#fff;
  font-size:16px;
  line-height:10px;
  color:var(--text-color_grey2)
}
.content-icon{
  text-align: justify;
  text-justify: inter-word;
  line-height: 1rem;
  max-width: 90%;
  padding: 0;
  margin: 0;
  min-width: 45%;
  justify-content: center; 
  height: 100%;
}


.copyright-text{
  width: 100%;
  position: relative;
}
p.copyright-text{
  padding-right: 20px;
}
.site-footer .social-icons
{
  text-align:center;
}


}

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}


@media screen and (min-width: 1025px) {

}

@media (min-width:1026px)and(max-width:1200px){
  
}