html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden; 
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
} */

@media (prefers-color-scheme: light) {
 
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
  body {
   padding: 0;
  }
}

@media screen and (max-width: 480px) {
  body {
   padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  body {
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 960px) {
  body{
    padding: 0;
  }
}