@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:wght@200&family=Sora:wght@800&display=swap');

:root{
  --primary-color:#096EFD;
  --color-fondo :#F0F2F5;
  --textButton: "IBM Plex Sans",sans-serif;
  --textTitle:"Sora",sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--textTitle);
  line-height: 1.2;
  font-weight: 800;
 
    color: #ffffff;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }

  p {
    margin: 0.5rem 0;
  }

  img {
    width: 100%;
  }

.Container-1 {
    min-width: 100%;
    height:100vh;
    background-color:var(--color-fondo) ;
    display: flex;
    grid-template-columns: 50% 50%;
    gap: 2px;
    justify-items: stretch;
    align-items: stretch;
 }

 .centered-div{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 90%;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #012a7092;
 }

 .content-boxshadow{
   top:150px;
   position: relative;
   display: flex;
   justify-content: flex-end;
   height: 50vh;

 }

 .div100{
   width: 50vw;
 }

 .showcase{
  position: relative;
   background: url('../public/principal_upc.png') no-repeat center center/cover;
 }


.showcase-content {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.showcase-content h1 {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}

.showcase-content p {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

._dsc{
  display: none;
}


#_sbt{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--color-fondo);
}


div._ptg{
padding-top:50px;
}


/* ///////////diseño responsivo ///////////////////////////////*/

@media (min-width:320px) and (max-width:480px){
  .content-f{
    padding:10px;  
    position: absolute;
   }
 
 
 div h1{
   color: var(--primary-color);
   font-size: 40px;
   font-weight: 700;
   font-family: var(--textTitle)
 }
}

/* @media (max-width:550px) {
 
} */
@media(min-width:481px) and (max-width:768px){
  ._dsc ._dct ._dvht{
    display: block;
    
    }

    h1 ._dvht{
      color:red;
    }
}

@media screen and (min-width:769px) and (max-width:1024px){
  .centered-div{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 90%;
    min-height: 30vh;
    padding: 0;
    margin: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #012a7092;
   }
    
  .showcase-content h1 {
    font-size: 3.6rem;
    line-height: 1;
  }

}

@media (max-width:840px){

  .content-boxshadow{
padding: 0;
margin: 0;
position: absolute;
max-height: 30vh;
 
  }
 
  .centered-div{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 90%;
    min-height: 30vh;
    padding: 0;
    margin: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: transparent;
   }
  .div100{
    height: 30%;
    width:100%;
  }
  .Container-1 {
    min-width: 100%;
    height: auto;
    background-color:var(--color-fondo);
    display: block;
    grid-auto-columns: 1fr;
    grid-template-rows: 10% 50%;
    row-gap: 1px;
    justify-items: stretch;
    align-items: stretch;
 }
 .content-boxshadow {
  top: 0;
  position: relative;
  display: flex;
  justify-content: center;
  height: 50vh;
}

.showcase{
  margin: 0;
  padding: 0;
  max-height: 25%;
  background: transparent;
  position: relative;
   background-image:none !important;
 }

 div._ptg{
  padding-top:0px;
  }
  .showcase-content h1 {
    font-size: 3rem;
    color:#00428A;
    line-height: 1;
  }

}

@media (min-width:1025px) and (max-width:1200px){
  .showcase-content h1 {
    font-size: 3.6rem;
    line-height: 1;
  }
}